@model IEnumerable<OnlineBusBookingNew.EF.Routing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus.BusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus.BusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoutingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoutingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoutingID })
        </td>
    </tr>
}

</table>
